body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--white-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

:root {
  --cloud-color: #f4f4fd;
  --navy-color: #2e2f42;
  --white-color: #ffffff;
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --corn-color: #e7e9fc;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
}

.top-line {
  border-bottom: 1px solid var(--corn-color);
}

.navigation {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--iris-color);
  display: flex;
  margin-right: 76px;
}

.logo-change {
  color: var(--navy-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-nav {
  display: flex;
  gap: 40px;
  margin: 0 auto;
}

.page-nav .link {
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: var(--navy-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-nav .link:hover,
.page-nav .link:active,
.page-nav .link:focus {
  color: var(--ocean-color);
}

.header-adres {
  font-style: normal;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contacts {
  display: flex;
  gap: 40px;
}

.contacts .link {
  font-style: normal;
  text-decoration: none;
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contacts .link:hover,
.contacts .link:active,
.contacts .link:focus {
  color: var(--ocean-color);
}

.bottom {
  background-color: var(--navy-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.bottom .logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
}

.logo-change-footer {
  color: var(--cloud-color);
}

.footer-text {
  color: var(--cloud-color);
  display: flex;
  width: 264px;
  flex-direction: column;
  flex-shrink: 0;
}

.main-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  background-color: var(--navy-color);
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-color);
  display: flex;
  max-width: 496px;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 auto;
  margin-bottom: 48px;
}

.main-button {
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--white-color);
  background-color: var(--iris-color);
  cursor: pointer;
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--ocean-color);
}

.prof-list {
  display: flex;
  gap: 24px;
}

.prof-item {
  width: calc((100% - 72px) / 4);
}

.prof-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.prof-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-color);
  margin-bottom: 8px;
}

.section-projects {
  padding-bottom: 120px;
}

.projects-list {
  display: flex;
  gap: 24px;
}

.projects-item {
  width: calc((100% - 48px) / 3);
}

.section-projects .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-color);
  text-align: center;
  margin-bottom: 72px;
}

.section-our-team {
  background-color: var(--cloud-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-our-team .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-color);
  text-align: center;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.our-team-item {
  width: calc((100% - 72px) / 4);
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
}

.team-container {
  padding: 32px 16px;
}

.team-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-color);
  text-align: center;
  margin-bottom: 8px;
}

.our-team-text {
  text-align: center;
}

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-button {
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--iris-color);
  text-align: center;
  cursor: pointer;
  background-color: var(--cloud-color);
  padding: 12px 24px;
  border: 1px solid var(--corn-color);
  border-radius: 4px;
}

.portfolio-button:hover,
.portfolio-button:active,
.portfolio-button:focus {
  color: var(--white-color);
  background-color: var(--ocean-color);
  border: 1px solid transparent;
}

.portfolio-app-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-app-item {
  width: calc((100% - 48px) / 3);
}

.app-container {
  padding: 32px 16px;
  border: 1px solid var(--corn-color);
  border-top: none;
}

.portfolio-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-color);
  margin-bottom: 8px;
}

.portfolio-app-item .link {
  text-decoration: none;
}

.portfolio-text {
  color: #434455;
}
